<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>All Articles</title>
  </head>
  <body>
    <header>
      <nav><a href="/">HOME</a></nav>
      <div class="logo-header">
        <img src="/images/logo.png" />
      </div>
      <h1>All Articles</h1>
    </header>
    <div class="news-container">
      <!-- Looping through all articles to display them -->
      <% for( var i = 0; i < articles.length; i++) { %>
      <div class="news-card">
        <a href="<%- articles[i].url %>"
          ><img src="<%- articles[i].image %>"
        /></a>
        <h3><%- articles[i].title %></h3>
        <p class="news-source"><%- articles[i].source %></p>
        <p class="news-region"><%- articles[i].region %></p>
      </div>
      <% } %>
    </div>
    <div class="footer-space"></div>
    <footer>
      <div class="footer-container">
        <p>Copyright &copy; 2022</p>
      </div>
    </footer>
  </body>
</html>
